* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border-radius: 8px;
  border-style: none;
  color: #F082AC;
  cursor: pointer;
  height: 40px;
  padding: 10px 16px;
}


a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  color: #F082AC;
}

ul {
  list-style: none;
}

.timer {
  display: flex;
  gap: 10px;
}